<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DOI</th>
      <th>AUTHOR_NAME</th>
      <th>TITLE</th>
      <th>DATE_OF_PUBLICATION</th>
      <th>JOURNAL_ID</th>
      <th>LINK</th>
      <th>AREA_OF_RESEARCH</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10.1007/s13410-020-00846-z</td>
      <td>Subhankar Chowdhury</td>
      <td>COVID-19 and type 1 diabetes: dealing with the difficult duo</td>
      <td>2020</td>
      <td>JI57</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/32837091/</td>
      <td>Covid</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.31838/jcr.07.10.13</td>
      <td>Yogita K Shrivas</td>
      <td>POTENTIAL OF PREVENTIVE ROLE OF AYURVEDIC MANAGEMENT IN FLUE LIKE SYMPTOMS IN CHILDREN: A REVIEW</td>
      <td>2015</td>
      <td>JI54</td>
      <td>http://www.jcreview.com/?mno=109976</td>
      <td>Covid</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10.31838/jcr.07.10.19</td>
      <td>Deepali Giri</td>
      <td>COVID 19 IN INDIA- CHALLENGES AHEAD</td>
      <td>2020</td>
      <td>JI51</td>
      <td>http://www.jcreview.com/?mno=109983</td>
      <td>Covid</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10.5455/JPMA.19</td>
      <td>Huma Qureshi</td>
      <td>The digestive system and the COVID-19</td>
      <td>2020</td>
      <td>JI59</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/32515381/</td>
      <td>Covid</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10.5578/tt.69775</td>
      <td>Nurhan Sarıoğlu</td>
      <td>Asthma and COVID-19: What do we know?</td>
      <td>2020</td>
      <td>JI55</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/32755114/</td>
      <td>Covid</td>
    </tr>
    <tr>
      <th>5</th>
      <td>https://doi.org/10.1002/jmv.26493</td>
      <td>Yoshiki Kawamura</td>
      <td>Immune response against SARS‐CoV‐2 in pediatric patients including young infants</td>
      <td>2020</td>
      <td>JI52</td>
      <td>https://onlinelibrary.wiley.com/doi/10.1002/jmv.26493</td>
      <td>Covid</td>
    </tr>
    <tr>
      <th>6</th>
      <td>https://doi.org/10.1210/jendso/bvaa133</td>
      <td>Philip K Angelides, MSc</td>
      <td>It’s X-Related: Biological Bases of Increased COVID-19 Morbidity and Mortality in Men</td>
      <td>2020</td>
      <td>JI53</td>
      <td>https://academic.oup.com/jes/advance-article/doi/10.1210/jendso/bvaa133/5903073?searchresult=1</td>
      <td>Covid</td>
    </tr>
  </tbody>
</table>