<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DOI</th>
      <th>AUTHOR_NAME</th>
      <th>TITLE</th>
      <th>DATE_OF_PUBLICATION</th>
      <th>JOURNAL_ID</th>
      <th>LINK</th>
      <th>AREA_OF_RESEARCH</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10.1111/j.1467-8705.1995.tb01048.x</td>
      <td>Simon Frith</td>
      <td>The Body Electric</td>
      <td>1995</td>
      <td>JI63</td>
      <td>https://onlinelibrary.wiley.com/doi/10.1111/j.1467-8705.1995.tb01048.x</td>
      <td>General</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.1111/j.1467-8705.1995.tb01057.x</td>
      <td>CHRIS FRITH</td>
      <td>Voices from nowhere</td>
      <td>1995</td>
      <td>JI64</td>
      <td>https://onlinelibrary.wiley.com/doi/10.1111/j.1467-8705.1995.tb01057.x</td>
      <td>General</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10.1161/01</td>
      <td>Frank Diet</td>
      <td>Increased Accumulation of Tissue ACE in Human Atherosclerotic Coronary Artery Disease</td>
      <td>1996</td>
      <td>JI67</td>
      <td>https://www.ahajournals.org/doi/full/10.1161/01.CIR.94.11.2756</td>
      <td>General</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10.2307/1061970</td>
      <td>Schuyler Cammann</td>
      <td>The Magic Square of Three in Old Chinese Philosophy and Religion</td>
      <td>1961</td>
      <td>JI74</td>
      <td>https://www.jstor.org/stable/1061970</td>
      <td>General</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10.2307/1816459</td>
      <td>John H. Kagel</td>
      <td>The Winner's Curse and Public Information in Common Value Auctions</td>
      <td>1986</td>
      <td>JI69</td>
      <td>https://www.jstor.org/stable/1816459</td>
      <td>General</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10.2307/24695063</td>
      <td>Alfred Kleinknecht</td>
      <td>Is flexible labour good for innovation? Evidence from firm-level data</td>
      <td>2014</td>
      <td>JI71</td>
      <td>https://www.jstor.org/stable/24695063</td>
      <td>General</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10.2307/3108945</td>
      <td>Marc Simpson</td>
      <td>Thomas Eakins and His Arcadian Works</td>
      <td>1987</td>
      <td>JI73</td>
      <td>https://www.jstor.org/stable/3108945</td>
      <td>General</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10.2307/44667587</td>
      <td>Jonathan Reed Winkler</td>
      <td>Blurred Lines: National Security and the Civil-Military Struggle for Control of Telecommunications Policy during World War II</td>
      <td>2015</td>
      <td>JI72</td>
      <td>https://www.jstor.org/stable/44667587</td>
      <td>General</td>
    </tr>
    <tr>
      <th>8</th>
      <td>109113</td>
      <td>Noreau</td>
      <td>DANCE-BASED EXERCISE PROGRAM IN RHEUMATOID ARTHRITIS</td>
      <td>1997</td>
      <td>JI65</td>
      <td>https://journals.lww.com/ajpmr/Fulltext/1997/03000/DANCE_BASED_EXERCISE_PROGRAM_IN_RHEUMATOID.5.aspx</td>
      <td>General</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15239359</td>
      <td>Brown TD</td>
      <td>Foot and ankle injuries in dance.</td>
      <td>2004</td>
      <td>JI66</td>
      <td>https://europepmc.org/article/med/15239359</td>
      <td>General</td>
    </tr>
    <tr>
      <th>10</th>
      <td>379476</td>
      <td>NORTH T. CHRISTIAN</td>
      <td>Effect of exercise on depression</td>
      <td>1990</td>
      <td>JI68</td>
      <td>https://journals.lww.com/acsm-essr/Citation/1990/01000/Effect_of_Exercise_on_Depression.16.aspx</td>
      <td>General</td>
    </tr>
    <tr>
      <th>11</th>
      <td>https://doi.org/10.5840/zfs1941913</td>
      <td>T. W. Adorno</td>
      <td>On Popular Music</td>
      <td>1941</td>
      <td>JI61</td>
      <td>https://www.pdcnet.org/zfs/content/zfs_1941_0009_0001_0017_0048</td>
      <td>General</td>
    </tr>
    <tr>
      <th>12</th>
      <td>https://doi.org/10.5840/zfs1941914</td>
      <td>Harold D. Lasswell</td>
      <td>Radio as an Instrument of Reducing Personal Insecurity</td>
      <td>1941</td>
      <td>JI62</td>
      <td>https://www.pdcnet.org/zfs/content/zfs_1941_0009_0001_0049_0064</td>
      <td>General</td>
    </tr>
  </tbody>
</table>