<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DOI</th>
      <th>AUTHOR_NAME</th>
      <th>TITLE</th>
      <th>DATE_OF_PUBLICATION</th>
      <th>JOURNAL_ID</th>
      <th>LINK</th>
      <th>AREA_OF_RESEARCH</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10.1126/scirobotics.aay9024</td>
      <td>Hajun Lee</td>
      <td>3D-printed programmable tensegrity for soft robotics</td>
      <td>2020</td>
      <td>JI31</td>
      <td>https://robotics.sciencemag.org/content/5/45/eaay9024</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.1126/scirobotics.aba0015</td>
      <td>Xiufeng Yang</td>
      <td>An 88-milligram insect-scale autonomous crawling robot driven by a catalytic artificial muscle</td>
      <td>2020</td>
      <td>JI32</td>
      <td>https://robotics.sciencemag.org/content/5/45/eaba0015</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10.1126/scirobotics.aba1912</td>
      <td>Mingqiang Wang</td>
      <td>Biomorphic structural batteries for robotics</td>
      <td>2020</td>
      <td>JI33</td>
      <td>https://robotics.sciencemag.org/content/5/45/eaba1912</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10.1126/scirobotics.abd2616</td>
      <td>Robin R. Murphy</td>
      <td>Roboticists should never look at their creations in the same way again</td>
      <td>2020</td>
      <td>JI26</td>
      <td>https://www.sciencemag.org/about/science-licenses-journal-article-reuse</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10.1126/scirobotics.abd7026</td>
      <td>Jodie L. Lutkenhaus</td>
      <td>Structural batteries take a load off</td>
      <td>2020</td>
      <td>JI30</td>
      <td>https://www.sciencemag.org/about/science-licenses-journal-article-reused</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10.1126/scirobotics.abd7338</td>
      <td>Ryan L. Truby</td>
      <td>Integrating chemical fuels and artificial muscles for untethered microrobots</td>
      <td>2020</td>
      <td>JI29</td>
      <td>https://robotics.sciencemag.org/content/5/45/eabd7338</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10.1126/scirobotics.abd7941</td>
      <td>Sanjay P. Sane</td>
      <td>Enhancing insect flight research with a lab-on-cables</td>
      <td>2020</td>
      <td>JI27</td>
      <td>https://robotics.sciencemag.org/content/5/45/eabd7941</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10.1126/scirobotics.abd9158</td>
      <td>Li Wen</td>
      <td>Tensegrity metamaterials for soft robotics</td>
      <td>2020</td>
      <td>JI28</td>
      <td>https://www.sciencemag.org/about/science-licenses-journal-article-reuses</td>
      <td>Robotics</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10.1126/scisignal.aaz1436</td>
      <td>Julia Menzel</td>
      <td>14-3-3 binding creates a memory of kinase action by stabilizing the modified state of phospholamban</td>
      <td>2020</td>
      <td>JI35</td>
      <td>https://stke.sciencemag.org/content/13/647/eaaz1436</td>
      <td>Signaling</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10.1126/scisignal.aba1169</td>
      <td>Leonardo Bontempi</td>
      <td>µ-Opioid receptor–induced synaptic plasticity in dopamine neurons mediates the rewarding properties of anabolic androgenic steroids</td>
      <td>2020</td>
      <td>JI34</td>
      <td>https://stke.sciencemag.org/content/13/647/eaba1169</td>
      <td>Signaling</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10.1126/scisignal.abe5296</td>
      <td>Annalisa M. VanHook</td>
      <td>Flipping an exosome switch</td>
      <td>2020</td>
      <td>JI37</td>
      <td>https://stke.sciencemag.org/content/13/647/eabe5296</td>
      <td>Signaling</td>
    </tr>
  </tbody>
</table>