<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DOI</th>
      <th>AUTHOR_NAME</th>
      <th>TITLE</th>
      <th>DATE_OF_PUBLICATION</th>
      <th>JOURNAL_ID</th>
      <th>LINK</th>
      <th>AREA_OF_RESEARCH</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10.1007/s00213-018-5042-1</td>
      <td>Baland Jalal</td>
      <td>The neuropharmacology of sleep paralysis hallucinations: serotonin 2A activation and a novel therapeutic drug</td>
      <td>2018</td>
      <td>JI20</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/30288594/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.1007/s11017-007-9043-z</td>
      <td>Per-Anders Tengland</td>
      <td>A two-dimensional theory of health</td>
      <td>2007</td>
      <td>JI12</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/17909986/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10.1016</td>
      <td>Panchbhai A.</td>
      <td>MRI evaluation of involvement of parotid and submandibular glands by tonguesquamous cell carcinoma</td>
      <td>2020</td>
      <td>JI01</td>
      <td>https://www.scopus.com/inward/record.uri?eid=2-s2.0-85077202628&amp;doi=10.1016%2fj.oraloncology.2019.104557&amp;partnerID=40&amp;md5=c0713ebb02901b3a72bbbb9e7b2299b9</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10.1016/j.amjmed.2019.03.001</td>
      <td>Michael T Hayes</td>
      <td>Parkinson's Disease and Parkinsonism</td>
      <td>2019</td>
      <td>JI16</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/30890425/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10.1016/j.cjca.2014.06.023</td>
      <td>Lili Barad</td>
      <td>Human embryonic stem cells vs human induced pluripotent stem cells for cardiac repair</td>
      <td>2014</td>
      <td>JI10</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/25442431/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10.1016/j.cll.2017.01.002</td>
      <td>Ryan F Relich</td>
      <td>Zika Virus</td>
      <td>2017</td>
      <td>JI25</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/28457349/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10.1038/jhh.2013.140</td>
      <td>E Judd</td>
      <td>Apparent and true resistant hypertension: definition, prevalence and outcomes</td>
      <td>2014</td>
      <td>JI04</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/24430707/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10.1093/jnen/nlz090</td>
      <td>An Hotterbeekx</td>
      <td>Neuroinflammation and Not Tauopathy Is a Predominant Pathological Signature of Nodding Syndrome</td>
      <td>2019</td>
      <td>JI24</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/31553445/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10.1126/science.1079328</td>
      <td>Anjen Chenn</td>
      <td>Eppendorf &amp; Science Prize. Essays on science and society. Making a bigger brain by regulating cell cycle exit</td>
      <td>2002</td>
      <td>JI19</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/12399574/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10.1126/science.aas9043</td>
      <td>David Reznick</td>
      <td>Is evolution predictable?</td>
      <td>2018</td>
      <td>JI18</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/29449475/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10.1159/000492704</td>
      <td>Paula Müller</td>
      <td>Stem Cell Therapy in Heart Diseases - Cell Types, Mechanisms and Improvement Strategies</td>
      <td>2018</td>
      <td>JI09</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/30121644/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>11</th>
      <td>10.1186/s13033-018-0253-8</td>
      <td>Kirsten Celeste Kohler</td>
      <td>Living with obsessive-compulsive disorder (OCD): a South African narrative</td>
      <td>2018</td>
      <td>JI15</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/30519281/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>12</th>
      <td>10.1353/pbm.2019.0046</td>
      <td>Daniel M Hausman</td>
      <td>What Is Cancer?</td>
      <td>2019</td>
      <td>JI11</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/31761807/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>13</th>
      <td>10.1358/dot.2014.50.12.2233894</td>
      <td>M Rendell</td>
      <td>Technosphere inhaled insulin (Afrezza)</td>
      <td>2014</td>
      <td>JI22</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/25588086/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>14</th>
      <td>10.31557</td>
      <td>Goyal A.</td>
      <td>Determinants of Tobacco Use among Children of a Rural Village in India: AnExploratory Qualitative Study</td>
      <td>2020</td>
      <td>JI02</td>
      <td>https://www.scopus.com/inward/record.uri?eid=2-s2.0- 85078340291&amp;doi=10.31557%2fAPJCP.2020.21.1.81&amp;partnerID=</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10.3390/antiox9070583</td>
      <td>Tae Yeon Kim</td>
      <td>Control of Reactive Oxygen Species for the Prevention of Parkinson's Disease: The Possible Application of Flavonoids</td>
      <td>2020</td>
      <td>JI17</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/32635299/</td>
      <td>Medical</td>
    </tr>
    <tr>
      <th>16</th>
      <td>10.3934/mbe.2018035</td>
      <td>Xiaoying Wang</td>
      <td>Pattern formation of a predator-prey model with the cost of anti-predator behaviors</td>
      <td>2018</td>
      <td>JI07</td>
      <td>https://pubmed.ncbi.nlm.nih.gov/30380330/</td>
      <td>Medical</td>
    </tr>
  </tbody>
</table>